### Target Vendor/Product
CONFIG_VENDOR=TPLINK
CONFIG_PRODUCT=MT7620
CONFIG_FIRMWARE_PRODUCT_ID="TL_EC220_G5-V2"
CONFIG_LINUXDIR=linux-3.4.x

### Wi-Fi драйвера
CONFIG_FIRMWARE_WIFI2_DRIVER=2.7  # Для MT7620A (2.4 ГГц)
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0  # Для MT7612E (5 ГГц)

### Ethernet-коммутатор (добавляем для Realtek RTL8367S)
CONFIG_FIRMWARE_ETHERNET_SWITCH=RTL8367S

### IPv6 (для совместимости с VPN)
CONFIG_FIRMWARE_ENABLE_IPV6=y

### Include XFRM (IPsec) modules & iptables extension ~0.2MB
CONFIG_FIRMWARE_INCLUDE_XFRM=y

### Include IPSet utility and kernel modules ~0.4MB
CONFIG_FIRMWARE_INCLUDE_IPSET=y

### Include Shortcut Forward Engine
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y

### Языки в веб-интерфейсе
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
CONFIG_FIRMWARE_INCLUDE_LANG_EN=y

### WireGuard VPN (включаем)
CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y

### Include Elliptic Curves (EC) to openssl library ~0.1MB (нужно для WireGuard)
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y

### Include Curl support ~0.15MB
CONFIG_FIRMWARE_INCLUDE_CURL=y

### Include LUA support ~0.2MB
CONFIG_FIRMWARE_INCLUDE_LUA=y

### Include EoIP Ethernet Tunnels over IP ~0.01MB
CONFIG_FIRMWARE_INCLUDE_EOIP=y

### Include compressed memory support
CONFIG_FIRMWARE_INCLUDE_ZRAM=y

### Убираем тяжёлые функции, чтобы уложиться в 8 МБ Flash
CONFIG_FIRMWARE_INCLUDE_OPENVPN=n
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=n
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=n
CONFIG_FIRMWARE_INCLUDE_OPENSSH=n
CONFIG_FIRMWARE_INCLUDE_SFTP=n
CONFIG_FIRMWARE_INCLUDE_HTTPS=n
CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=n
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=n
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=n
CONFIG_FIRMWARE_INCLUDE_XUPNPD=n
CONFIG_FIRMWARE_INCLUDE_DNSCRYPT=n
CONFIG_FIRMWARE_INCLUDE_WPAD=n

### Оптимизация размера прошивки
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
